<div class="footer-container">
  <p id="copyright"></p>
</div>

<script>
    //footer logic
      const year = new Date().getFullYear();
      document.getElementById("copyright").textContent =`© ${year} Made with ❤️ by Ravi`;
</script>