<div class="header-container">
    <div class="site-name-logo left">
        <div class="logo"></div>
        <div class="name">Jokely</div>
    </div>
</div>

<script>
    //header logic
      const logoContainer = document.querySelector(".left");
      logoContainer.addEventListener("click", () => {
        window.location.href = "/lol";
      });
</script>